{% extends 'base.html.twig' %}

{% block title %}Contactez nous !{% endblock %}

{% block body %}

<div class="jumbotron">
    <h2>Nous Contacter</h1>
</div>

<div class="container">

    {{ form_start(formContact) }}
    <div>
        <h6>Nom*</h6>
        <div class="row">
            <div class="col">{{ form_row(formContact.firstname)}}</div>
            <div class="col">{{ form_row(formContact.lastname)}}</div> 
        </div>
    </div>
    <div>
        <h6>Email*</h6>
        <div>
            {{ form_row(formContact.email)}}
        </div>
    </div>
    <div>
        <h6>Téléphone*</h6>
        <div>
            {{ form_row(formContact.phone)}}
        </div>
    </div>
    <div>
        <h6>Sujet du message*</h6>
        <div>
            {{ form_row(formContact.messagesubject)}}
        </div>
    </div>
    <div>
        <h6>Votre message*</h6>
        <div>
            {{ form_row(formContact.message)}}
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
    {{ form_end(formContact) }}
</div>
{% endblock %}