{% extends 'base.html.twig' %}
{% block stylesheets %}


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"
    integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA=="
    crossorigin=""></script>


<link rel="stylesheet" href="{{ asset("css/merkerCluster/MarkerCluster.css")}}">
<link rel="stylesheet" href="{{ asset("css/merkerCluster/MarkerCluster.Default.css")}}">



{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1>Bienvenue chez MyMuseum</h1>
    <h2>Découvrez les plus beaux musées de France</h2>
    {% for message in app.flashes('successMail') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 imageHome">
            <img src="{{ asset("images/musee_de_france.jpg") }}" class="img-fluid" alt="Musée du Louvre">
        </div>
        <div class="col-lg-6 presentation ">
            <h3>Bonjour,</h3>
            <p>La France compte 1240 musées. La mojorité possède le label "Musée de France" attribué par le ministère de
                la
                Culture.
                Ces musées ont pour vocations de restaurer et conserver leurs collections pour pouvoir ainsi les
                présenter
                au public.</p>
            <p>Ils proposent les thématiques les plus variées : Beaux-Arts, sciences, technologie, histoire,
                archéologie,
                nature, religion, etc...</p>
            <p>Tous les musées répertoriés sont listés par communes, départements et régions.
                Un moteur de recherche en haut à droite de la page vous permettra d'arriver directement à destination.
            </p>
            <p>Pour chaque musée vous trouverez toutes ses informations pratiques comme les coordonnées, les périodes
                d'ouvertures, de fermeture, la localisation, etc...</p>
            <p>N'attendez plus et partez à la découverte des musées français !</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-success mb-4 MuseumsRegionCard">
                    <div class="card-header card-header-home">
                        <h5 class="card-title info"> <i class="fas fa-check"></i>  Les musées par région</h5>
                    </div>
                    <div class="card-body text-success card-bodyText-home">
                        <p> <a href="{{ path('museum_region', {'region': 'Auvergne-Rhône-Alpes'})  }}" class="a-home">Musée en
                                Auvergne-Rhône-Alpes</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Bourgogne-Franche-Comté'})  }}" class="a-home">Musée en
                                Bourgogne-Franche-Comté</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Bretagne'})  }}" class="a-home">Musée en Bretagne</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Centre-Val de Loire'})  }}" class="a-home">Musée en
                                Centre-Val de Loire</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Corse'})  }}" class="a-home">Musée en Corse</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Grand Est'})  }}" class="a-home">Musée en Grand Est</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Hauts-de-France'})  }}" class="a-home">Musée en
                                Hauts-de-France</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Île-de-France'})  }}" class="a-home">Musée en
                                Île-de-France</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Normandie'})  }}" class="a-home">Musée en Normandie</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Nouvelle-Aquitaine'})  }}" class="a-home">Musée en
                                Nouvelle-Aquitaine</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Occitanie'})  }}" class="a-home">Musée en Occitanie</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Pays-de-la-Loire'})  }}" class="a-home">Musée en Pays de la
                                Loire</a></p>
                        <p> <a href="{{ path('museum_region', {'region': 'Provence-Alpes-Côte d\'Azur'})  }}" class="a-home">Musée en
                                Provence-Alpes-Côte d'Azur</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card border-success mb-4 MuseumsRegionCard">
                    <div class="card-header card-header-home">
                        <h5 class="card-title info"> <i class="fas fa-check"></i>  Quelques musées au hasard</h5>
                    </div>
                    <div class="card-body text-success">

                        {% for museum in museums %}

                        <p> <a
                                href="{{ path('museum_show', {'id': museum.id} ) }}" class="a-home">{{museum.NomOfficiel|capitalize}}</a>
                        </p>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="card border-success">
                <div class="card-header card-map">
                    <h5 class="panel-title">
                        <i class="fas fa-map-marker-alt"></i>
                        Localisation de tous les Musées de France
                    </h5>
                </div>
                <div id="map">
                    <div id="mapid"></div>
                </div>
            </div>
        </footer>

        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset("js/merkerCluster/leaflet.markercluster.js") }}"></script>

        <script src="{{ asset("js/app.js") }}"></script>

        {% endblock %}