{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}

<div class="jumbotron">
    <h2>Recherche de Musées</h2>
    <h3>Recherché le ou les musées qui peuvent vous intéresser</h3>
    <hr>

    {{ form_start(formSearch)}}
    <div class="form-row formSerach">
        <div class="col-md-2">
            {{form_row(formSearch.region)}}
        </div>
        <div class="col-md-2">
            {{form_row(formSearch.departement)}}
        </div>
        <div class="col-md-2">
            {{form_row(formSearch.ville)}}
        </div>
        <button class="col-md-1 btn btn-primary btnFormSearch">Rechercher</button>
    </div>
    {{ form_end(formSearch)}}

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
</div>
<header class="container">
    <div class="row">
        {% for museum in museums %}

        <div class="col-md-4">
            <div class="card mb-4 museumCard">
                <div class="card-body div-card-bodyShow">
                    <h5 class="card-title">
                        <a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel|capitalize}}</a>
                    </h5>
                    <p class="card-text"> {{museum.Ville}}</p>
                    <p class="card-text"> {{museum.themes[:100]}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="navigation">

            <!-- Le paginator permet de paginer des élements d'une page -->
            {{ knp_pagination_render(museums) }}
        </div>
    </div>

</header>
{% endblock %}