{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Les Musées de la région Corse</h1>
    <p><a href="{{path('home')}}">Musées de France</a> / Musées de Corse</p>
</div>

<header class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Haute-Corse</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Haute-Corse' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Corse-du-Sud </h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Corse-du-Sud' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
</header>

{% endblock %}