{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Les Musées de la région Auvergne-Rhône-Alpes</h1>
    <p><a href="{{path('home')}}">Musées de France</a>/ Musées d'Auvergne-Rhône-Alpese</p>
</div>

<header class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans l'Ain</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Ain' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans l'Allier </h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Allier' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans l'Ardèche</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Ardèche' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

</header>

{% endblock %}