{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Les Musées de la région Nouvelle-Aquitaine</h1>
    <p><a href="{{path('home')}}">Musées de France</a>/ Musées de Nouvelle-Aquitaine</p>
</div>

<header class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Charente</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Charente' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Charente-Maritime </h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Charente-Maritime' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Corrèze</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Corrèze' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dnas la Creuse</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Creuse' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Dordogne</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Dordogne' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Gironde</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Gironde' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dnas les Landes</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Landes' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans le Lot-et-Garonne</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Lot-et-Garonne' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Pyrénées-Atlantiques</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Pyrénées-Atlantiques' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Deux-Sèvres</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Deux-Sèvres' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
                <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Vienne</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Vienne' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
                <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Haute-Vienne</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Haute-Vienne' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

</header>

{% endblock %}