{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Les Musées de la région Pays de la Loire</h1>
    <p><a href="{{path('home')}}">Musées de France</a>/ Musées du Pays de la Loire</p>
</div>

<header class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Loire-Atlantique</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Loire-Atlantique' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans le Maine-et-Loire </h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Maine-et-Loire' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Mayenne</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Mayenne' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans la Sarthe</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Sarthe' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées en Vendée</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Vendée' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
 
</header>

{% endblock %}