{% extends 'base.html.twig' %}

{% block title %}MyMuseum : Trouver un Musée{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Les Musées de la région Provence-Alpes-Côte d'Azur</h1>
    <p><a href="{{path('home')}}">Musées de France</a>/ Musées en Provence-Alpes-Côte d'Azur</p>
</div>

<header class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Alpes-de-Haute-Provence</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Alpes-de-Haute-Provence' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Hautes-Alpes </h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Hautes-Alpes' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Alpes-Maritimes</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Alpes-Maritimes' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans les Bouches-du-Rhône</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Bouches-du-Rhône' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans le Var</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Var' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-success mb-4 MuseumsRegionDepartementCard">
                <div class="card-header">
                    <h5 class="card-title info"> Les musées dans le Vaucluse</h5>
                </div>
                <div class="card-body text-success">
                    {% for museum in museum if museum.Departement == 'Vaucluse' %}
                    <p><a href="{{ path('museum_show', {'id': museum.id}) }}"> {{museum.NomOfficiel}}</a> à
                            {{museum.Ville}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

</header>

{% endblock %}